<app-navbar></app-navbar><br><br><br><br>
<div  class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">notification1 title :</h6>
          <h1>notification1</h1>
          <a href="#" class="card-link" style="float: right"> Afficher...</a>
        </div>
      </div>
      <div class="card">
          <div class="card-body">
            <h6 class="card-title">notification1 title :</h6>
            <h1>notification1</h1>
            <a href="#" class="card-link" style="float: right"> Afficher...</a>
          </div>
        </div>
    </div>
  </div>
</div>
