<app-navbar></app-navbar>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3>Liste de Notifications :</h3>
        </div>
          <div class="card-body">
            <div class="card">
              <div class="card-body">
                <strong>Type :</strong>...
                <br>
                <strong>Adresse :</strong>...
                <br>
                <strong>tel :</strong>...
                <br>
                <strong>Discription :</strong>...
                <br>
                <div class="btn-group"  style="float:right">

                  <a href="" routerLink="/employee/note" class="btn btn-primary" >Noter le Resultat</a>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
