<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top " >
  <div class="dropdown" id="dropdownListeRuches">
    <button type="button" class="btn btn-light  dropdown-toggle" style="background-color: #ebc417" data-toggle="dropdown">
     Menu
    </button>
    <div id="ListeNavBarRuche" class="dropdown-menu">
      <a  data-toggle="collapse" href="#MenuListeClient" class="btn ">Liste des clients</a>
      <div  id="MenuListeClient" class="collapse" data-parent="#listMenuBoutton">
          <a   *ngFor="let client of listeClient" data-toggle="modal" data-target="#info" class="btn itmRuche" (click)="afficheClient(client)"> {{client.nom}} {{client.prenom}} </a>
       </div>
      <a data-toggle="modal" data-target="#myModal" class="btn "><i class="far fa-bell"></i>  Notification </a><span class="badge badge-light" style=" float: right;margin-right: 10px;margin-top:8px;">0</span>
      <hr>
      <a   class="btn ">Alert </a><i class="material-icons" style=" float: right;margin-right: 10px">assignment_late</i>
    </div>
  </div>
  <a routerLink="/employee" href=""><img src="../../assets/logo.jpg" style="width: 45px;height: 45px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav  ml-auto">
      <li class="nav-item">
        <a class="nav-link navItemText" (click)="Deconnexion()" ><i class="fas fa-sign-out-alt" style="font-size:25px"></i></a>
      </li>
    </ul>
  </div>
</nav>
<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-2" id="collapsibleSidebar">
      <div id="ListeSideBarRuche" class="listeRuche">
        <br><br><br>
        <h5>Menu</h5>
        <hr style=" border: 5px solid #343a40!important ;">
        <div id="listMenuBoutton" class="listRucheBoutton">
            <a (click)="getListeC()" data-toggle="collapse" href="#MenuListeClient"  class="btn itmRuche">Liste des clients</a>
            <hr style=" border: 2px solid #343a40!important ;">
            <div  id="MenuListeClient" class="collapse" data-parent="#listMenuBoutton">
               <a style="width: 100%;padding: 0;"  *ngFor="let client of listeClient" data-toggle="modal" data-target="#info" class="btn itmRuche" (click)="afficheClient(client)">
                  <div>
                      <a><strong>{{client.clientcin}}: </strong>{{client.nom}} {{client.prenom}}</a>
                    </div>
                </a>
                <hr style=" border: 2px solid #343a40!important ;">
            </div>

          <a (click)="afficheNotification()" data-toggle="modal" data-target="#myModal" class="btn " >
            <i class="far fa-bell"></i>
            Notification
          </a>
          <span class="badge badge-light" style=" float: right;margin-right: 10px;margin-top:8px;"></span>
        </div>
      </div>
    </div>
    <div id="TableauDeBord" class="col-xl-10 col-lg-12  " >
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header"><a (click)="getListeC()"><h4>Liste des Ruches  <i style="color: rgb(0, 225, 255)" class="fas fa-sync-alt"></i></h4> </a></div>
            <div class="card-body" id="accordion" >
              <div  *ngFor = "let client of listeClient">
                <div *ngFor = "let ruche of client.ruches" class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#idR{{listeClient.indexOf(client)}}{{client.ruches.indexOf(ruche)}}">
                      <strong> Ruche N° : {{client.ruches.indexOf(ruche)+1}} </strong>
                      <span ><strong>Client :</strong> {{client.clientcin}} </span>
                    </a>
                  </div>
                  <div id="idR{{listeClient.indexOf(client)}}{{client.ruches.indexOf(ruche)}}" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      <strong>Adresse: </strong> <span>{{ruche.gouv}} {{ruche.ville}}</span><br>
                      <strong>Le Nombr des problèmes: </strong><span>{{ruche.nbrP}} </span><br>
                      <strong>Activer  depuis: </strong><span>{{ruche.datelancement}} </span><br>
                      <a data-toggle="collapse" href="#idRL{{listeClient.indexOf(client)}}{{client.ruches.indexOf(ruche)}}" ><strong>Liste des problèmes :</strong></a>
                      <div id="idRL{{listeClient.indexOf(client)}}{{client.ruches.indexOf(ruche)}}" class="collapse" >
                        <p *ngFor="let p of ruche.listePro">
                          <span><strong>detail: </strong> {{p.detail}} </span>
                          <span style="float: right"> {{p.date}} </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Notifications</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div id="accordion">
            <div *ngFor = "let notification of notifications" class="card">
                <div class="card-header">
                  <a class="card-link" data-toggle="collapse" href="#id{{notifications.indexOf(notification)}}">
                   <strong> Client : {{notification.client}} </strong>
                    <span style="float: right"><strong>Date :</strong> {{notification.date}} </span>
                  </a>
                </div>
                <div id="id{{notifications.indexOf(notification)}}" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    <strong>ruche N°:</strong> <span>{{notification.rucheid}}</span><br>
                    <strong>Discription:</strong>
                    <p>{{notification.discription}}</p>
                    <button data-toggle="modal" data-target="#Reponde" (click)="getNotif(notification)" class="btn btn-success" style="float: right;margin-bottom: 5px">Reponde</button>
                  </div>
                </div>
              </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="Reponde">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div id="accordion">
                <label for="comment">Discription</label>
                <textarea [(ngModel)]="dicriptionNotificationReponde" class="form-control" rows="5" id="comment"></textarea>
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Liste Des Ruches</label>
                    <select name="reg"  (change)="NotificationRepondeResultat($event.target.value)"  class="form-control" id="exampleFormControlSelect2">
                      <option>Selecte le status de la ruche</option>
                      <option value="valider">le ruche est bien marche</option>
                      <option value="novalider">en cours de maintenance</option>
                  </select>
                </div>
            </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)="reponde()" class="btn btn-danger" data-dismiss="modal">Envoyer</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal" id="info">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Client: {{client.cin}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <span><strong>Nom: </strong> {{client.nom}}</span><br>
          <span><strong>Prénom: </strong> {{client.prenom}}</span><br>
          <span><strong>Adresse: </strong> {{client.adresse}}</span><br>
          <span><strong>Téléphone: </strong> {{client.tel}}</span><br>
          <span><strong>Nombre des Ruches: </strong> {{client.nbrRuche}}</span><br>
          <span><strong>Nombre des Ruches en charge: </strong> {{client.nbrRucheRes}}</span>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>





