<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top " >
    <div class="dropdown" id="dropdownListeRuches">
      <button type="button" class="btn btn-light  dropdown-toggle" style="background-color: #ebc417" data-toggle="dropdown">
        Liste des ruches
      </button>
      <div id="ListeNavBarRuche" class="dropdown-menu">
        <a id="ListeNavBarRucheItem"  *ngFor="let ruche of ruches" class="dropdown-item itmRuche" (click)="affiche(ruche,ruches.indexOf(ruche))" >
          <div>
            <a>Ruche {{indexRuche[ruches.indexOf(ruche)]}}</a>
          </div>
          <hr>
        </a>
        <hr style=" border: 3px solid #343a40!important ;">
        <a data-toggle="modal" data-target="#myModal" class="btn "><i class="far fa-bell"></i>  Notification </a><span class="badge badge-light" style=" float: right;margin-right: 10px;margin-top:8px;">0</span>
        <hr>
        <a data-toggle="modal" data-target="#Alert" class="btn " (click)="Alert()">
            <i class="fas fa-exclamation-circle" ></i>
            Alert
          </a>    </div>
    </div>
    <a routerLink="/client" href=""><img src="../../assets/logo.jpg" style="width: 45px;height: 45px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav  ml-auto">
        <li class="nav-item">
            <a class="nav-link navItemText" (click)="pageModification()" ><i class="fas fa-id-badge" style="font-size:25px"></i></a>
          </li>
        <li class="nav-item">
          <a class="nav-link navItemText" (click)="Deconnexion()"><i class="fas fa-sign-out-alt" style="font-size:25px"></i></a>
        </li>
      </ul>
    </div>
  </nav>
  <br><br><br>
  <div class="row" style="margin: 0">
    <div class="col-sm-2" id="collapsibleSidebar">
      <div id="ListeSideBarRuche" class="listeRuche">
        <br><br><br>
        <h5>Ruches connecté({{NomberRuche}})</h5>
        <hr style=" border: 5px solid #343a40!important ;">
        <a  id="ListeSideBarRucheItem" *ngFor="let ruche of ruches" class="itmRuche" (click)="affiche(ruche,indexRuche[ruches.indexOf(ruche)])" >
          <div>
            <a>Ruche {{indexRuche[ruches.indexOf(ruche)]}}</a>
          </div>
          <hr>
        </a>
        <hr style=" border: 5px solid #343a40!important ;">
        <div class="listRucheBoutton">
          <a data-toggle="modal" data-target="#myModal" class="btn " (click)="afficheNotification()">
            <i class="far fa-bell"></i>
            Notification
          </a>
          <span class="badge badge-light" style=" float: right;margin-right: 10px;margin-top:8px;">{{notifications.length}}</span>
         <br>
         <a data-toggle="modal" data-target="#Alert" class="btn " (click)="Alert()">
            <i class="fas fa-exclamation-circle" ></i>
            Alert
          </a>

        </div>
      </div>
    </div>
    <div id="TableauDeBord" class="col-xl-10 col-lg-12  " >
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                      <span style="float: right"><a class="btn btn-warning " data-toggle="modal" data-target="#historique">Historique </a></span>
                    <h2>Ruche {{idRuche}}</h2>

                  </div>
                  <div class="card-body">
                    <div class="container">
                      <div class="row">
                        <div  class="col-md-12">
                          <app-ruche [temp]="trieDonnees(tabBORD).temps" [maintenant]="trieDonnees(tabBORD).donnees[0]" [donnees]="trieDonnees(tabBORD).donnees" ></app-ruche>
                        </div>
                      </div>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
  </div>
  <!-- Modal Notification -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Notifications</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div id="accordion">
            <div *ngFor = "let notification of notifications" class="card" [class.notificationSs]="notificationSs[notifications.indexOf(notification)]">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#id{{notifications.indexOf(notification)}}">
                  <strong> Notification : </strong>
                  <span *ngIf="notification.resultat === 'valider'" class="badge badge-success">Valider</span>
                  <span *ngIf="notification.resultat === 'novalider'" class="badge badge-warning">En attend</span>
                  <span style="float: right"><strong>Date :</strong> {{notification.date}} </span>
                </a>
              </div>
              <div id="id{{notifications.indexOf(notification)}}" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <strong>ruche N°:</strong> <span>{{notification.rucheid}}</span><br>
                  <strong>Discription:</strong>
                  <p>{{notification.description}}</p>
                  <button (click)="remove(arrayIndexNotif[notifications.indexOf(notification)] , notifications.indexOf(notification), notification.rucheid)"  class="btn btn-danger" style="float: right;margin-bottom: 5px">Supprimer</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Aertation -->
  <div class="modal" id="Alert">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Alertation</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div id="accordion">
            <label for="comment">Discription</label>
            <textarea [(ngModel)]="discription" class="form-control" rows="5" id="comment"></textarea>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Liste Des Ruches</label>
                <select name="reg"  (change)="AlertListRuche($event.target.value)"  class="form-control" id="exampleFormControlSelect2">
                  <option>Selecte une ruche</option>
                  <option *ngFor="let ruche of ruches" value="{{afficheIndex(ruches.indexOf(ruche))}}">Ruche {{afficheIndex(ruches.indexOf(ruche))}}</option>
              </select>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <a (click)="Alert()" data-dismiss="modal" class="btn btn-primary" style="float: right"> Enregistrer</a>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Historique -->
<div class="modal" id="historique">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Historique de Ruche N°: {{idRuche}} </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div id="accordion">
          <div *ngFor = "let hist of getHistorique(tabBORD)"  class="card" style="margin-bottom: 10px;">
            <div *ngIf="hist.action ==='start'" class="card-header" style="background: rgba(255, 196, 0, 0.383)">
              <a class="card-link" data-toggle="collapse" href="#id{{getHistorique(tabBORD).indexOf(hist)}} ">
                <strong>{{hist.action}}</strong> <span style="float: right">date : {{hist.date}} </span>
              </a>
            </div>
            <div *ngIf="hist.action ==='Réparation'" class="card-header" style="background: rgba(30, 255, 0, 0.329)">
                <a class="card-link" data-toggle="collapse" href="#id{{getHistorique(tabBORD).indexOf(hist)}}">
                  <strong>{{hist.action}}</strong> <span style="float: right">date : {{hist.date}} </span>
                </a>
              </div>
              <div *ngIf="hist.action ==='Probleme'" class="card-header" style="background: rgba(255, 0, 0, 0.37)">
                  <a class="card-link" data-toggle="collapse" href="#id{{getHistorique(tabBORD).indexOf(hist)}}">
                    <strong>{{hist.action}}</strong> <span style="float: right">date : {{hist.date}} </span>
                  </a>
                </div>
            <div id="id{{getHistorique(tabBORD).indexOf(hist)}}" class="collapse" data-parent="#accordion">
              <div class="card-body">
                 <strong>detail: </strong><p> {{hist.detail}}.</p>
              </div>
            </div>
          </div><br>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



