

<div class="container ">
  <div class="rows">
    <div class="col-md-12 text-center" style="margin: auto">
      <h1>Ruche Connectée</h1>
      <img src="../../assets/cc.jpg">
    </div>
    <div class="col-md-6 " style="margin: auto">
        <h2>Connexion</h2>
      <div class="container">
        <form class="form-signin">
          <div class="form-label-group">
            <label for="inputIdentifient">Identifient</label>
            <input [(ngModel)]='Identifient' name="Identifient" type="text" id="inputIdentifient" class="form-control" placeholder="Identifient" required autofocus>
          </div>
          <div class="form-label-group">
            <label for="inputMp">Mot de passe</label>
            <input [(ngModel)]='mdp' name="mdp" type="password" id="inputMp" class="form-control" placeholder="Mot de passe" required>
          </div>
          <br>
          <button class="btn btn-lg btn-block"  (click)="connect()" ><span> Sign in</span></button>
          <div class="text-center" style=" margin-top: 5%;padding-bottom: 5%">
            <a href="" class="mt-5 mb-3 text-muted text-center" (click)="affiche()">Propre</a>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#f4ff00"
  type = "fire">
  <p style="font-size: 20px; color: white">Chargement...</p>
</ngx-spinner>
