.navbar{
  box-shadow:  0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link{
  color: #ebc417!important;
}
.nav-item:hover{
  background-color: #ebc417!important;
}
.nav-item:hover .nav-link{
  color: #3b3c3d!important;
}
.active{
  background-color: #ebc417!important;
}
.activeLink{
  color: #3b3c3d!important;
}
